  
    body {
        font-family: Arial, sans-serif;
        background-color: #e7d085;
    }

    #calcDisplay {
        width: 70%;
        padding: 10px;
        font-size: 12px;
        text-align: right;
        box-sizing: border-box;
    }

    button {
        width: 10%;
        padding: 10px;
        font-size: 12px;
        box-sizing: border-box;
    }
